[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask-sqlalchemy = "*"
Werkzeug = "*"
importlib-metadata = "*"
importlib-resources = "*"
ipdb = "*"
marshmallow = "*"
flask = "*"
flask-marshmallow = "*"
flask-bcrypt = "*"
flask-jwt-extended = "*"
flask-cors = "*"
flask-migrate = "*"
gunicorn = "*"
dotenv = "*"

[dev-packages]

[requires]
python_version = "3.12"
