.popup{
  margin: 10px;
  position: relative;
  z-index: 1000;
}

.popup-content {
  background-color: #efeeee;
  padding: 10px;
  border: 1px solid #859579;
  border-radius: 8px;
  text-align: center;
}

.popup-message {
  color: #859579;
  font-size: 0.7rem;
  margin-bottom: 5px;
}

.popup-links {
  display: flex;
  justify-content: center;
  gap: 10px;
  margin-top: 5px;
}

.popup-login{
  background-color: #859579;
  color: white;
  text-decoration: none;
  border: none;
  padding: 6px 12px;
  border-radius: 6px;
  cursor: pointer;
}

.popup-signup {
  background-color: #859579;
  color: white;
  text-decoration: none;
  border: none;
  padding: 6px 12px;
  border-radius: 6px;
  cursor: pointer;
}

.popup-close {
  margin-top: 10px;
  background-color: #859579;
  color: white;
  border: none;
  padding: 5px 10px;
  border-radius: 6px;
  cursor: pointer;
}
