.books-wrapper {
	display: flex;
	flex-direction: column;
	gap: 1.5rem;
}

.books-tabs {
	display: flex;
	gap: 1rem;
	border-bottom: 1px solid #e2e2e2;
	padding-bottom: 0.5rem;
}

.tab-link {
	padding: 0.5rem 1rem;
	margin: 5px;
	text-decoration: none;
	color: #555;
	background: #dadada;
	font-weight: 500;
	border-radius: 10px;
}

.tab-link.active {
	color: white;
	background: #388e3c;
	font-weight: 500;
}