.app{
  display: grid;
  grid-template-rows: 80px auto;
}

.navlinks{
  color: white;
  font-size: 20px;
  font-family: sans-serif;
  margin: 20px;
  padding: 10px;
  text-decoration: none;
}
.navlinks.active{
  text-decoration: underline;
}